JUST PLAIN

<br>
boolean
{{product.metafields.my_fields.test_boolean}}
<br>
text
{{product.metafields.my_fields.test_text}}
<br>
reference
{{product.metafields.my_fields.test_reference}}
<br>
number
{{product.metafields.my_fields.test_number}}
<br>
measurement
{{product.metafields.my_fields.test_measurement}}
<br>
json
{{product.metafields.my_fields.test_json}}
<br>
file
{{product.metafields.my_fields.test_file}}
<br>
date
{{product.metafields.my_fields.test_date}}
<br>
color
{{product.metafields.my_fields.test_color}}
<br>


TAG FILTER

<br>
boolean
{{product.metafields.my_fields.test_boolean | metafield_tag }}
<br>
text
{{product.metafields.my_fields.test_text | metafield_tag }}
<br>
reference
{{product.metafields.my_fields.test_reference | metafield_tag }}
<br>
number
{{product.metafields.my_fields.test_number | metafield_tag }}
<br>
measurement
{{product.metafields.my_fields.test_measurement | metafield_tag }}
<br>
json
{{product.metafields.my_fields.test_json | metafield_tag }}
<br>
file
{{product.metafields.my_fields.test_file | metafield_tag }}
<br>
date
{{product.metafields.my_fields.test_date | metafield_tag }}
<br>
color
{{product.metafields.my_fields.test_color | metafield_tag }}
<br>


TEXT FILTER

<br>
boolean
{{product.metafields.my_fields.test_boolean | metafield_text }}
<br>
text
{{product.metafields.my_fields.test_text | metafield_text }}
<br>
reference
{{product.metafields.my_fields.test_reference | metafield_text }}
<br>
number
{{product.metafields.my_fields.test_number | metafield_text }}
<br>
measurement
{{product.metafields.my_fields.test_measurement | metafield_text }}
<br>
json
{{product.metafields.my_fields.test_json | metafield_text }}
<br>
file
{{product.metafields.my_fields.test_file | metafield_text }}
<br>
date
{{product.metafields.my_fields.test_date | metafield_text }}
<br>
color
{{product.metafields.my_fields.test_color | metafield_text }}
<br>




{% schema %}
{
    "name":"metafields section",
    "settings":[],
    "presets":[
        {
            "name":"metafields section"
        }
    ]
}
{% endschema %}